<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/kalam/IdeaProjects/ZooplaAutomationProject/src/test/java/com/bridgelabz/zoopla/test/ZooplaTest.java">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="com.bridgelabz.zoopla.test.ZooplaTest">
                <methods>
                    <include name="whenSearchWithLocation_ShouldPrintProperties"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.bridgelabz.zoopla.utility.TestNgListener"></listener>
    </listeners>
</suite>
